body {
  background-color: #ff6447;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-container {
  border: 5px solid black;
  background-color: #f6deb3;
  height: 600px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-top {
  border: 5px solid white;
  background-color: #008080;
  width: 120px;
  height: 120px;
  margin-bottom: 50px;
}

.box-mid {
  border: 5px dashed white;
  background-color: #008080;
  width: 500px;
  height: 120px;
}

.box-bottom {
  border: 5px solid white;
  background-color: #008080;
  width: 120px;
  height: 120px;
  margin-top: 50px;
}
